In [ ]:
# Import Packages

import requests
import pandas as pd
import csv
import os
from sodapy import Socrata

# Download Delay Data, untrasformed, from API Endpoints

In [ ]:
#Wait Assessment 2020 Onwards - "https://data.ny.gov/resource/swky-c3v4.csv"

# Create a directory to store the csv files
os.makedirs("data", exist_ok=True)

# Download the csv file
wait_assessment_2020 = "https://data.ny.gov/resource/swky-c3v4.csv?$limit=1000000000"
response = requests.get(wait_assessment_2020)

# Save the csv file to disk
csv_file = "wait_assessment_2020.csv"
with open(csv_file, "w") as f:
    f.write(response.text)

#Save the csv file to a dataframe    
wait_assessment_2020 = pd.read_csv(csv_file)

In [ ]:
# Column and row count
print(wait_assessment_2020.shape)

# Describe the dataframe
wait_assessment_2020.describe(include="all")

In [ ]:
# Column name and data type
print(wait_assessment_2020.dtypes)

In [5]:
# Split the month and year into separate columns
wait_assessment_2020[["Year", "Month"]] = wait_assessment_2020["month"].str.split("-", expand=True)

In [ ]:
# Describe the dataframe
wait_assessment_2020.describe(include="all")

In [6]:
# Wait Assessment 2015 - 2019 - "https://data.ny.gov/resource/bmix-dpzc.csv"

# Download the csv file
wait_assessment_2015 = "https://data.ny.gov/resource/bmix-dpzc.csv?$limit=1000000000"
response = requests.get(wait_assessment_2015)

# Save the csv file to disk
csv_file = "wait_assessment_2015.csv"
with open(csv_file, "w") as f:
    f.write(response.text)

#Save the csv file to a dataframe    
wait_assessment_2015 = pd.read_csv(csv_file)

In [ ]:
# Print the shape of the dataframe
print(wait_assessment_2015.shape)

# Describe the dataframe
wait_assessment_2015.describe(include="all")

In [7]:
# Split the month and year into separate columns
wait_assessment_2015[["Year", "Month"]] = wait_assessment_2015["month"].str.split("-", expand=True)

In [8]:
# Merge the two dataframes
wait_assessment_2015_2020 = pd.concat([wait_assessment_2020, wait_assessment_2015], axis=0, ignore_index=True)

In [ ]:
# Print the shape of the dataframe
print(wait_assessment_2015_2020.shape)

# Describe the dataframe
wait_assessment_2015_2020.describe(include="all")

In [ ]:
# Service Deliviered 2020 Onwards - "https://data.ny.gov/resource/2e6s-9gpm.csv"

# Download the csv file
service_delivered_2020 = "https://data.ny.gov/resource/2e6s-9gpm.csv?$limit=1000000000"
response = requests.get(service_delivered_2020)

# Save the csv file to disk
csv_file = "service_delivered_2020.csv"
with open(csv_file, "w") as f:
    f.write(response.text)

#Save the csv file to a dataframe    
service_delivered_2020 = pd.read_csv(csv_file)

In [ ]:
# Service Deliviered 2015 - 2019 - "https://data.ny.gov/resource/tw28-zvtk.csv"

# Download the csv file
service_delivered_2015 = "https://data.ny.gov/resource/tw28-zvtk.csv?$limit=1000000000"
response = requests.get(service_delivered_2015)

# Save the csv file to disk
csv_file = "service_delivered_2015.csv"
with open(csv_file, "w") as f:
    f.write(response.text)

#Save the csv file to a dataframe    
service_delivered_2015 = pd.read_csv(csv_file)

# Download Traffic Data, untransformed, from API Endpoints

This is a large file and takes some time to download.  It is not included in the repository. but the transformed data is.

In [ ]:
# Hourly Traffic on (MTA) Bridges and Tunnels: Beginning 2010 - "https://data.ny.gov/resource/qzve-kjga.csv"

# Download the csv file
hourly_traffic = "https://data.ny.gov/resource/qzve-kjga.csv?$limit=1000000000"
response = requests.get(hourly_traffic)

# Save the csv file to disk
csv_file = "hourly_traffic.csv"
with open(csv_file, "w") as f:
    f.write(response.text)

#Save the csv file to a dataframe    
hourly_traffic = pd.read_csv(csv_file)

In [9]:
# Loading the csv file for hourly_traffic
hourly_traffic = pd.read_csv('hourly_traffic.csv')

In [ ]:
# Print the shape of the dataframe
print(hourly_traffic.shape)

# Describe the dataframe
hourly_traffic.describe(include="all")

In [ ]:
# Create a new column named total_vehicles by adding the vehicles_e_zpass and vehicles_vtoll columns
hourly_traffic["total_vehicles"] = hourly_traffic["vehicles_e_zpass"] + hourly_traffic["vehicles_vtoll"]

In [ ]:
# Extract the year from the date_time column
hourly_traffic["Year"] = hourly_traffic["date"].str[:4]

# Extract the month from the date column
hourly_traffic["Month"] = hourly_traffic["date"].str[5:7]

In [ ]:
# Transform the dataframe to group by the Year, Month, plaza_id, and direction columns, giving the sum of the total_vehicles, vehicles_e_zpass, and vehicles_vtoll columns
hourly_traffic_transformed = hourly_traffic.groupby(["Year", "Month", "plaza_id", "direction"]).agg({"total_vehicles": "sum", "vehicles_e_zpass": "sum", "vehicles_vtoll": "sum"}).reset_index()

In [ ]:
# Print the shape of the dataframe
print(hourly_traffic_transformed.shape)

# Describe the dataframe
hourly_traffic_transformed.describe(include="all")

# The following csv is a large file available at https://data.cityofnewyork.us/resource/7ym2-wayt
# The full file has been downloaded and is used in the following script.
# The aggregate output will also be made available and it is recommended this is the version to work with

In [10]:
# Open a CSV file and write it to a df using pandas
# Open the CSV file

traffic_speeds = pd.read_csv('DOT_Traffic_Speeds_NBE_20240121.csv')

C:\Users\Paul\AppData\Local\Temp\ipykernel_9252\3722983806.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  traffic_speeds = pd.read_csv('DOT_Traffic_Speeds_NBE_20240121.csv')

In [ ]:
ts_backup = traffic_speeds

In [ ]:
# Print the shape of the dataframe
print(traffic_speeds.shape)

# Describe the dataframe
traffic_speeds.describe(include="all")

In [11]:
# Keep the Speed, travel_time, status, data_as_of, link_id, and borough columns
traffic_speeds = traffic_speeds[['SPEED', 'TRAVEL_TIME', 'STATUS', 'DATA_AS_OF', 'LINK_ID', 'BOROUGH']]

In [12]:
# Extract the year from the data_as_of column which is in the format of 09/20/2019 07:27:03 AM
traffic_speeds["Year"] = traffic_speeds["DATA_AS_OF"].str[6:10]

# Extract the month from the data_as_of column which is in the format of 09/20/2019 07:27:03 AM
traffic_speeds["Month"] = traffic_speeds["DATA_AS_OF"].str[0:2]

In [13]:
# Group the dataframe by the Year, Month, and BOROUGH and LINK_ID, columns, giving the mean of the speed and travel_time columns
traffic_speeds_transformed = traffic_speeds.groupby(["Year", "Month", "BOROUGH", "LINK_ID"]).agg({"SPEED": "mean", "TRAVEL_TIME": "mean"}).reset_index()

In [ ]:
# Print the shape of the dataframe
print(traffic_speeds_transformed.shape)

# Describe the dataframe
traffic_speeds_transformed.describe(include="all")

In [ ]:
# save the dataframe to a csv file
traffic_speeds_transformed.to_csv("traffic_speeds_transformed.csv", index=False)

In [ ]:
# load the transformed dataframe from a csv file
traffic_speeds_transformed = pd.read_csv("traffic_speeds_transformed.csv")

# Take traffic_speeds_transformed.csv

Skip download and use the transformed data instead.

In [23]:
# https://data.cityofnewyork.us/Transportation/Automated-Traffic-Volume-Counts/7ym2-wayt

# Download the csv file
# Use a select and group by statement to get the count of the volume column grouped by the year, month, and roadway_name columns
#automated_traffic_volume_counts_transformed = "https://data.ny.gov/resource/7ym2-wayt.csv?$select=Yr,M,Boro,count(RequestID)&$group==Yr,M,Boro&$limit=1000000000" 
automated_traffic_volume_counts = "https://data.ny.gov/resource/7ym2-wayt.csv?$select=Yr,M,Boro,sum(Vol)&$group=Yr,M,Boro&$limit=1000000000" 
response = requests.get(automated_traffic_volume_counts)

In [24]:
# Save the csv file to disk
csv_file = "automated_traffic_volume_counts.csv"
with open(csv_file, "w") as f:
    f.write(response.text)

In [25]:
# Save the csv file to a dataframe    
automated_traffic_volume_counts = pd.read_csv(csv_file)

In [ ]:
# Load the csv file to a dataframe
automated_traffic_volume_counts = pd.read_csv(automated_traffic_volume_counts.csv)

In [ ]:
automated_traffic_volume_counts.describe(include='all')

In [ ]:
automated_traffic_volume_counts.head()

In [28]:
# Sort the dataframe by the Year, Month, and BOROUGH columns
automated_traffic_volume_counts = automated_traffic_volume_counts.sort_values(["Yr", "M", "Boro"])

In [ ]:
automated_traffic_volume_counts.tail()

# Currently have:
Delays:
Wait Assesment 2015-2024

Impact:
Traffic Speeds,
Traffic Volume Counts,
Hourly Traffic Volume Counts,
Daily Traffic Volume Counts Bridge&Tunnel,

In [32]:
# Daily Traffic - "https://data.ny.gov/resource/cwhc-n4ek.csv"

# Download the csv file
daily_traffic = "https://data.ny.gov/resource/cwhc-n4ek.csv?$limit=1000000000"
response = requests.get(daily_traffic)

# Save the csv file to disk
csv_file = "daily_traffic.csv"
with open(csv_file, "w") as f:
    f.write(response.text)

#Save the csv file to a dataframe    
daily_traffic = pd.read_csv(csv_file)

In [ ]:
# Load the csv file
daily_traffic = pd.read_csv('daily_traffic.csv')

In [33]:
# Print the shape of the dataframe
print(daily_traffic.shape)

# Describe the dataframe
daily_traffic.describe(include="all")

(90061, 5)

,date,plaza_id,direction,vehicles_e_zpass,vehicles_vtoll
count,90061,90061.000000,90061,90061.000000,90061.000000
unique,5036,NaN,2,NaN,NaN
top,2010-07-21T00:00:00.000,NaN,I,NaN,NaN
freq,19,NaN,45789,NaN,NaN
mean,NaN,14.233919,NaN,34840.056306,6577.519570
std,NaN,10.539025,NaN,24147.852951,4846.001985
min,NaN,1.000000,NaN,0.000000,0.000000
25%,NaN,5.000000,NaN,17146.000000,2506.000000
50%,NaN,9.000000,NaN,30999.000000,5434.000000
75%,NaN,25.000000,NaN,44449.000000,9723.000000
max,NaN,30.000000,NaN,224978.000000,40156.000000

In [34]:
# Extract the year from the date column
daily_traffic["Year"] = daily_traffic["date"].str[:4]

# Extract the month from the date column
daily_traffic["Month"] = daily_traffic["date"].str[5:7]

In [35]:
# Add the vehicles_e_zpass and vehicles_vtoll columns to get the total_vehicles column
daily_traffic["total_vehicles"] = daily_traffic["vehicles_e_zpass"] + daily_traffic["vehicles_vtoll"]

In [36]:
# Get the sum of the total_vehicles, vehicles_e_zpass, and vehicles_vtoll columns grouped by the Year, Month, plaza_id, and direction columns
daily_traffic_transformed = daily_traffic.groupby(["Year", "Month", "plaza_id", "direction"]).agg({"total_vehicles": "sum", "vehicles_e_zpass": "sum", "vehicles_vtoll": "sum"}).reset_index()

In [37]:
# Write the dataframe to a csv file
daily_traffic_transformed.to_csv("daily_traffic_transformed.csv", index=False)

In [ ]:
# Load the csv file
daily_traffic_transformed = pd.read_csv('daily_traffic_transformed.csv')

# END OF DATA DOWNLOAD RUN Group 1 to Skip this Stage

In [38]:
# Traffic Volume Count Smaller - "https://data.cityofnewyork.us/resource/btm5-ppia.csv"

# Download the csv file
volume_count_small = "https://data.cityofnewyork.us/resource/btm5-ppia.csv?$limit=1000000000"
response = requests.get(volume_count_small)

# Save the csv file to disk
csv_file = "volume_count_small.csv"
with open(csv_file, "w") as f:
    f.write(response.text)

#Save the csv file to a dataframe    
volume_count_small = pd.read_csv(csv_file)

In [39]:
# Print the shape of the dataframe
print(volume_count_small.shape)

# Describe the dataframe
volume_count_small.describe(include="all")

(42756, 31)

,id,segmentid,roadway_name,from,to,direction,date,_12_00_1_00_am,_1_00_2_00am,_2_00_3_00am,...,_2_00_3_00pm,_3_00_4_00pm,_4_00_5_00pm,_5_00_6_00pm,_6_00_7_00pm,_7_00_8_00pm,_8_00_9_00pm,_9_00_10_00pm,_10_00_11_00pm,_11_00_12_00am
count,42756.000000,4.275600e+04,42756,42756,42756,42756,42756,42752.000000,42752.000000,42752.000000,...,42503.000000,42503.000000,42503.000000,42503.000000,42503.000000,42503.000000,42503.000000,42503.000000,42503.000000,42503.000000
unique,NaN,NaN,1276,1717,1745,14,608,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,BROADWAY,Dead End,Dead End,NB,2019-10-13T00:00:00.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,473,504,387,12234,391,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,302.926841,4.988159e+05,NaN,NaN,NaN,NaN,NaN,251.448423,178.591504,135.280318,...,630.179376,657.691175,661.120886,657.712538,628.825612,570.346987,496.648166,428.457779,376.555067,315.806014
std,504.422798,1.875303e+06,NaN,NaN,NaN,NaN,NaN,407.435712,303.030296,242.091877,...,758.610055,779.552761,776.312508,770.034661,764.796252,732.905268,678.326096,614.480940,565.197252,493.563207
min,1.000000,2.020000e+02,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,95.000000,3.402700e+04,NaN,NaN,NaN,NaN,NaN,60.000000,38.000000,26.000000,...,250.000000,260.000000,261.000000,258.000000,237.000000,204.000000,167.000000,133.000000,108.000000,82.000000
50%,193.000000,7.534300e+04,NaN,NaN,NaN,NaN,NaN,118.000000,79.000000,56.000000,...,406.000000,425.000000,428.000000,424.000000,396.000000,344.000000,287.000000,235.000000,196.000000,157.000000
75%,299.000000,1.448810e+05,NaN,NaN,NaN,NaN,NaN,241.000000,171.000000,128.000000,...,679.000000,713.000000,724.000000,724.000000,680.000000,598.500000,508.000000,427.000000,366.000000,303.000000
max,3393.000000,9.017050e+06,NaN,NaN,NaN,NaN,NaN,4805.000000,4489.000000,4818.000000,...,6996.000000,7524.000000,8683.000000,9762.000000,9879.000000,10532.000000,6659.000000,5698.000000,5460.000000,5027.000000